<h2 id="meds-header">TrackRx</h2>

<h3 id="regular">
    <nav>
        <p>
            <%= link_to 'Signup', signup_path %> |
            <%= link_to 'Sign In', new_session_path %>
        </p>
    </nav>
</h3> 
