<h1>User Page(show)</h1>

User splash page
# need methods for attaching medicines to users and displaying them
Medicines and options go here--

 <nav>
    <% if current_user == @user %>
     <%= link_to 'Edit Account', edit_user_path(@user) %>
     <%= link_to 'Delete Account', @user,
            method: :delete,
            data: { confirm: 'Are you sure you want to permanently delete your account?' } %>
    <% end %>
 </nav>
