<% content_for(:title, @user.name) %>

<h1>User splash page</h1>



My Medicines
<% if @taken_medicines.any? %>
<ul>
    <% @taken_medicines.each do |med| %>
        <li>
            <%= link_to med.name, med %>
        </li>
    <% end %>
</ul>
<% end %>

<% content_for :side do %>
 <nav>
    <% if current_user == @user %>
     <%= link_to 'Edit Account', edit_user_path(@user) %>
     <%= link_to 'Delete Account', @user,
            method: :delete,
            data: { confirm: 'Are you sure you want to permanently delete your account?' } %>
    <% end %>
 </nav>
<% end %>
