<h1><%= pluralize(@medications.size, 'Medicine') %></h1>

<ul>
    <% @medications.each do |med| %>
    <li><%= med.name %>: RX Number <!--Needs link method-->
        View Details  <!--Needs link method-->
    </li>
    <% end %>
</ul>
