<article>
    <header>
        <h2><%= @medication.name %></h2>
    </header>
    <table>
    <tr>
        <th>Dose:</th>
        <td><%= @medication.dose %></td>
    </tr>
    <tr>
        <th>RX Number:</th>
        <td><%= @medication.rx_number %>-<%= @medication.rx_number2 %></td>
    </tr>
    </table>
</article>
