<% if object.errors.any? %>
  <header>
    <h2 id="meds-header">
      Your information could not be saved.
    </h2>
    <h3 id="regular">
      Please correct the following errors:
    </h3>
  </header>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
