@import 'colors';

header#header {
    text-align: center;
    padding: 5px;
    color: $primary-color;
    background: $background-color;
    border-bottom: 6px solid darken($primary-color, 25%);
}

footer#footer {
    text-align: center;
    padding: 5px;
    color: $background-color;
    background: $primary-color;
    border-top: 6px solid darken($primary-color, 25%);
}

aside#sidebar {
    padding: 5px;
    color: $background-color;
    background: $primary-color;
    float: right;
    width: 100px;
    border-bottom: 6px solid darken($primary-color, 15%);
}
