@import 'colors';

header#header {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $primary-color;
    background: $background-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 8px solid darken($primary-color, 25%);
}

h1#title {
    font-family: "Lucida Console", Monaco, monospace;
}

footer#footer {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $background-color;
    background: $primary-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 8px solid darken($primary-color, 25%);
}

aside#sidebar {
    padding: 8px;
    color: $background-color;
    background: $primary-color;
    float: right;
    width: 100px;
    border-bottom: 6px solid darken($primary-color, 15%);
    border-left: 6px solid darken($primary-color, 15%);
    border-right: 6px solid darken($primary-color, 15%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
