@import 'colors';

header#header {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $primary-color;
    background: $background-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 8px solid darken($primary-color, 25%);
}

h1#title {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    font-size: 40px;
}

footer#footer {
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: $background-color;
    background: $primary-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 8px solid darken($primary-color, 25%);
}

aside#sidebar {
    padding: 8px;
    color: $background-color;
    background: $primary-color;
    float: right;
    width: 100px;
    border-bottom: 6px solid darken($primary-color, 15%);
    border-left: 6px solid darken($primary-color, 15%);
    border-right: 6px solid darken($primary-color, 15%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h2#meds-header {
    text-align: left;
    padding-left: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    color: $background-color;
}

h3#regular {
    text-align: left;
    padding-left: 10px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
    color: darken($background-color, 25%);
}

fieldset#form {

  margin: 0 0 10px 0;
  padding: 10px 20px;
  background-color: $tertiary-color;
  border-bottom: 6px solid darken($primary-color, 15%);
  border-left: 6px solid darken($primary-color, 15%);
  border-right: 6px solid darken($primary-color, 15%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: #aaa 0 0 8px;

  label {
    font-size: 1em;
    display: block;
    margin-bottom: .25em;
    font-family: Tahoma, Geneva, sans-serif;
    color: $background-color;
  }


  ol {
    list-style: none;
    margin: 0;
    padding: 0;

        li {
            margin: 0 0 20px 0;
            padding: 0;

            &.required label {
                font-weight: bold;
            }
        }

    }
}
