@import 'colors';

li#list-item {
    list-style-type: none;
    font-family: Tahoma, Geneva, sans-serif;
}

h2#meds-header {
    text-align: justify;
    padding-left: 40px;
    font-family: Tahoma, Geneva, sans-serif;
    color: $background-color;
}
