
  <footer style="text-align: center; padding: 5px; color: #e4e7ed; background: #2d4b8c;">
  <p>
    Copyright &copy; 2019
    <%= link_to 'Jacob Johnkoski','https://github.com/jjohnkoski' %>
  </p>
</footer>
