<header id="header">

    <h1 id="title">
        TrackRx
    </h1>

    <h1 id="subtitle">
        <% if current_user %>
            <%= link_to current_user.name, current_user %>
            <%= link_to 'Sign out', session_path, method: :delete %>
        <% else %>
            <%= link_to 'Signup', signup_path %> |
            <%= link_to 'Sign In', new_session_path %>
        <% end %>
    </h1>

</header>
