<aside id="sidebar">
  <nav>
    <%= link_to '<button>All Medicines</button>'.html_safe, medicines_path %><br>
    <%= link_to '<button>Add Medicine</button>'.html_safe, new_medicine_path %>
  </nav>
</aside>
